"*":
  "atom-discord":
    behaviour: {}
    smallImage:
      image: "atom-original"
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
  core:
    disabledPackages: [
      "fonts"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 20
  "exception-reporting":
    userId: "b9b165d5-3148-4c18-81ea-668dc938b7f6"
  fonts:
    fontFamily: "Courier Prime Code"
